<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
			xmlns:og="http://ogp.me/ns#"
      xmlns:fb="http://www.facebook.com/2008/fbml">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
<title>{% block page_title %}Textbox{% endblock %}</title>
<link href="/static/main.css" rel="stylesheet" type="text/css"/>
<link rel="image_src" href="/static/images/logos/stamp200.png"/>
{% block page_head %}{% endblock %}
<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-22923496-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>
</head>
<body>
<div id="container">
<div id="header">
<div id="titleblock"><div id="title">{% block title %}{% endblock %}</div></div>
<div id="navblock"><div id="navigation">{% block navigation %}{% endblock %}</div></div>
	

{% block header %}  
{% endblock %}
<div style="clear: both"></div>
</div>
<div id="columns">
<div id="col1">
<div id="content">
    {% block content %}
	{% endblock %}
    </div>
</div>
<div id="col2">
<div id="sidebar">
	<!-- anything I want to have on sidebar of every page -->
	{% block sidebar %}  
    {% endblock %}
</div>
</div>
<div style="clear: both"></div>
</div>
</div>
<div id="foot">
	<div id="footer">
		{% block footer %}
		{% endblock %}
		</div>
<div style="clear: both"></div>
</div>


</body>
</html>
